################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecipeShare.Web/bin/Debug/net9.0
/RecipeShare.Web/RecipeShare.zip
/RecipeShare.API/obj
/RecipeShare.Models/obj
/RecipeShare.API/bin/Debug/net9.0
/RecipeShare.Models/bin/Debug/net9.0
/RecipeShare.Utils/bin/Debug/net9.0
/RecipeShare.Utils/obj
