@use '../themes/tokens' as *;

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-glow {
    color: var(--vg-neon);
    text-shadow: 0 0 8px var(--vg-neon);
}

.radius-lg {
    border-radius: 1rem;
}

.vg-toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
}
