@inherits RecipeFilterBarBase

<div class="vg-filterbar-wrapper">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <div class="vg-filterbar-title">
            @Title
        </div>
    }
    <EditForm Model="filter" OnValidSubmit="SubmitFilter">
        <div class="vg-filterbar-content">
            <InputText @bind-Value="filter.Title" class="form-input w-full" placeholder="Search title..." />

            <InputNumber @bind-Value="filter.MinCookingTime" class="form-input w-full" placeholder="Min time (min)" />
            <InputNumber @bind-Value="filter.MaxCookingTime" class="form-input w-full" placeholder="Max time (min)" />

            <button type="submit" class="btn btn-primary w-full">Apply Filters</button>
        </div>

        <div class="vg-tag-toggle-list">
            @foreach (var tag in tags)
            {
                <label class="vg-tag-toggle">
                    <input type="checkbox"
                           checked="@filter.Tags.Contains(tag.Name)"
                           @onchange="() => ToggleTag(tag.Name)" />
                    <span class="tag-badge" style="background-color:@tag.Color">
                        @tag.Name
                    </span>
                </label>
            }
        </div>
    </EditForm>
</div>
